In [35]:
import pandas as pd

caminho_arquivos = {
    "clientes": "dados/olist_customers_dataset.csv",
    "geolocalizacao": "dados/olist_geolocation_dataset.csv",
    "itens_pedidos": "dados/olist_order_items_dataset.csv",
    "pagamentos_pedidos": "dados/olist_order_payments_dataset.csv",
    "avaliacoes_pedidos": "dados/olist_order_reviews_dataset.csv",
    "pedidos": "dados/olist_orders_dataset.csv",
    "produtos": "dados/olist_products_dataset.csv",
    "vendedores": "dados/olist_sellers_dataset.csv",
    "traducao_categorias_produtos": "dados/product_category_name_translation.csv",
}

dataframes = {nome: pd.read_csv(caminho) for nome, caminho in caminho_arquivos.items()}

clientes_df = dataframes["clientes"]
geolocalizacao_df = dataframes["geolocalizacao"]
itens_pedidos_df = dataframes["itens_pedidos"]
pagamentos_pedidos_df = dataframes["pagamentos_pedidos"]
avaliacoes_pedidos_df = dataframes["avaliacoes_pedidos"]
pedidos_df = dataframes["pedidos"]
produtos_df = dataframes["produtos"]
vendedores_df = dataframes["vendedores"]
traducao_categorias_produtos_df = dataframes["traducao_categorias_produtos"]

In [36]:
clientes_df.sample(2)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
63642,8e35ad059c14e7c2098879b6812fbbe2,5b97eb89e71d8e7cbe9b3023a4d69f97,28085,campos dos goytacazes,RJ
39657,028ec50772515edd2a7c7e6f212cc27f,58386f30fd7958103a4a30bb0f2217cd,29800,barra de sao francisco,ES

In [37]:
geolocalizacao_df.sample(2)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
343485,14815,-21.961526,-48.008497,ibate,SP
776576,69068,-3.125524,-59.997345,manaus,AM

In [38]:
itens_pedidos_df.sample(2)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
12337,1bfde5e32fa7b177c2c0f313c67ee333,1,17da5d80ea0eeabd565083183027d588,e9779976487b77c6d4ac45f75ec7afe9,2017-11-06 08:30:17,65.0,16.21
59774,8832736e69bda45d9e1c6f5a64e64517,1,44053ed0088d0655ed338810cd2d4d51,fdb9095204a334cd8872252ffec6f2db,2018-05-07 14:30:20,143.0,15.09

In [39]:
pagamentos_pedidos_df.sample(2)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
6670,97514c152882f3625b91ce58ddc0c3b6,1,credit_card,2,126.99
47752,495116fbd0be5a2ec65dea16e026ca66,1,credit_card,4,89.19

In [40]:
avaliacoes_pedidos_df.sample(2)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
69375,005f13757c0f13da715a9c96892692db,f2bb3a124d84782133f5aadabe42adca,5,NaN,NaN,2017-08-15 00:00:00,2017-08-16 13:57:45
3622,bf1f10162874cf3e182581a615701273,e4a53fe147c7b6b2fbd68ebf30c48226,5,NaN,NaN,2017-08-09 00:00:00,2017-08-09 23:32:49

In [41]:
pedidos_df.sample(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
15271,e0e3cde1bd7f993b460771481843727f,c30def9299a42a45fc635a77f7aa8d10,delivered,2018-04-15 13:42:02,2018-04-15 13:55:19,2018-04-16 18:46:35,2018-04-24 18:32:48,2018-05-09 00:00:00
86596,abc8ac6610c6497964008b940aa99342,2b564a5a4f56272bcfdb62000446f35f,delivered,2017-05-25 10:21:49,2017-05-25 10:30:24,2017-05-26 12:53:30,2017-06-02 12:32:19,2017-06-23 00:00:00

In [42]:
produtos_df.sample(2)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
16775,61b6e5d2e3ee58d2b341b8ef1a652b26,cama_mesa_banho,48.0,421.0,1.0,750.0,30.0,10.0,25.0
6840,5f2924ba89d5561b2b24067e375b212d,informatica_acessorios,48.0,561.0,2.0,593.0,41.0,13.0,14.0

In [43]:
vendedores_df.sample(5)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
3080,61b18775be84fb700a6b2d0ba097bf66,14808,araraquara,SP
1139,951e8cef368f09bb3f3d03c00ca4702c,14940,ibitinga,SP
489,70ee69419916dc13e3aed619061f996c,8780,mogi das cruzes,SP
1880,5f1dc28029d2c244352a68107ec2b542,5126,sao paulo,SP
2932,d94a40fd42351c259927028d163af842,37443,baependi,MG

In [44]:
traducao_categorias_produtos_df.sample(2)

          product_category_name          product_category_name_english
17  fashion_bolsas_e_acessorios               fashion_bags_accessories
63  portateis_casa_forno_e_cafe  small_appliances_home_oven_and_coffee

In [45]:
produtos_df.describe()

,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32341.000000,32341.000000,32341.000000,32949.000000,32949.000000,32949.000000,32949.000000
mean,48.476949,771.495285,2.188986,2276.472488,30.815078,16.937661,23.196728
std,10.245741,635.115225,1.736766,4282.038731,16.914458,13.637554,12.079047
min,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000
25%,42.000000,339.000000,1.000000,300.000000,18.000000,8.000000,15.000000
50%,51.000000,595.000000,1.000000,700.000000,25.000000,13.000000,20.000000
75%,57.000000,972.000000,3.000000,1900.000000,38.000000,21.000000,30.000000
max,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000

In [46]:
resumo = []

for nome, df in dataframes.items():
    valores_faltantes = df.isnull().sum() 
    df_resumo = pd.DataFrame({
        "DataFrame": [nome] * len(valores_faltantes),
        "Coluna": valores_faltantes.index,
        "Valores Faltantes": valores_faltantes.values
    })
    resumo.append(df_resumo)
    
df_resumo_final = pd.concat(resumo, ignore_index=True)
df_resumo_final

,DataFrame,Coluna,Valores Faltantes
0,clientes,customer_id,0
1,clientes,customer_unique_id,0
2,clientes,customer_zip_code_prefix,0
3,clientes,customer_city,0
4,clientes,customer_state,0
5,geolocalizacao,geolocation_zip_code_prefix,0
6,geolocalizacao,geolocation_lat,0
7,geolocalizacao,geolocation_lng,0
8,geolocalizacao,geolocation_city,0
9,geolocalizacao,geolocation_state,0
10,itens_pedidos,order_id,0
11,itens_pedidos,order_item_id,0
12,itens_pedidos,product_id,0
13,itens_pedidos,seller_id,0
14,itens_pedidos,shipping_limit_date,0
15,itens_pedidos,price,0
16,itens_pedidos,freight_value,0
17,pagamentos_pedidos,order_id,0
18,pagamentos_pedidos,payment_sequential,0
19,pagamentos_pedidos,payment_type,0
20,pagamentos_pedidos,payment_installments,0
21,pagamentos_pedidos,payment_value,0
22,avaliacoes_pedidos,review_id,0
23,avaliacoes_pedidos,order_id,0
24,avaliacoes_pedidos,review_score,0
25,avaliacoes_pedidos,review_comment_title,87656
26,avaliacoes_pedidos,review_comment_message,58247
27,avaliacoes_pedidos,review_creation_date,0
28,avaliacoes_pedidos,review_answer_timestamp,0
29,pedidos,order_id,0
30,pedidos,customer_id,0
31,pedidos,order_status,0
32,pedidos,order_purchase_timestamp,0
33,pedidos,order_approved_at,160
34,pedidos,order_delivered_carrier_date,1783
35,pedidos,order_delivered_customer_date,2965
36,pedidos,order_estimated_delivery_date,0
37,produtos,product_id,0
38,produtos,product_category_name,610
39,produtos,product_name_lenght,610
40,produtos,product_description_lenght,610
41,produtos,product_photos_qty,610
42,produtos,product_weight_g,2
43,produtos,product_length_cm,2
44,produtos,product_height_cm,2
45,produtos,product_width_cm,2
46,vendedores,seller_id,0
47,vendedores,seller_zip_code_prefix,0
48,vendedores,seller_city,0
49,vendedores,seller_state,0
50,traducao_categorias_produtos,product_category_name,0
51,traducao_categorias_produtos,product_category_name_english,0

In [47]:
# preenche valores ausentes com a média nas colunas numéricas do DataFrame 'produtos_df'
numeric_columns = ['product_name_lenght', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']

produtos_df[numeric_columns] = produtos_df[numeric_columns].apply(lambda col: col.fillna(col.mean()))