In [1]:
import pandas as pd

caminho_arquivos = {
    "clientes": "dados/olist_customers_dataset.csv",
    "geolocalizacao": "dados/olist_geolocation_dataset.csv",
    "itens_pedidos": "dados/olist_order_items_dataset.csv",
    "pagamentos_pedidos": "dados/olist_order_payments_dataset.csv",
    "avaliacoes_pedidos": "dados/olist_order_reviews_dataset.csv",
    "pedidos": "dados/olist_orders_dataset.csv",
    "produtos": "dados/olist_products_dataset.csv",
    "vendedores": "dados/olist_sellers_dataset.csv",
    "traducao_categorias_produtos": "dados/product_category_name_translation.csv",
}

dataframes = {nome: pd.read_csv(caminho) for nome, caminho in caminho_arquivos.items()}

clientes_df = dataframes["clientes"]
geolocalizacao_df = dataframes["geolocalizacao"]
itens_pedidos_df = dataframes["itens_pedidos"]
pagamentos_pedidos_df = dataframes["pagamentos_pedidos"]
avaliacoes_pedidos_df = dataframes["avaliacoes_pedidos"]
pedidos_df = dataframes["pedidos"]
produtos_df = dataframes["produtos"]
vendedores_df = dataframes["vendedores"]
traducao_categorias_produtos_df = dataframes["traducao_categorias_produtos"]

In [2]:
clientes_df.sample(2)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
93871,110200ea348b1c2a93d9278d1ea168ef,c0c30222d6b8c54d038e444aec6a0fbe,88020,florianopolis,SC
40686,e8eaf1cd83fb76f65bdf87f4ab372d59,a8eebe144722bd04a876fc7b939b79f3,13451,santa barbara d'oeste,SP

In [3]:
geolocalizacao_df.sample(2)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
760837,65636,-5.104065,-42.835038,timon,MA
895054,87140,-23.449278,-52.047445,paicandu,PR

In [4]:
itens_pedidos_df.sample(2)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
53000,789bf50b7eafcaff398ea0b735b4787e,1,19c91ef95d509ea33eda93495c4d3481,06a2c3af7b3aee5d69171b0e14f0ee87,2018-08-21 10:30:16,122.99,30.11
10802,189b3afbf782ff8ab44477e006153155,1,b10eba910a974df70b8a12d0665cdb9e,a3e9a2c700480d9bb01fba070ba80a0e,2018-02-15 19:50:41,39.00,16.11

In [5]:
pagamentos_pedidos_df.sample(2)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
68648,f1392a30909dbd81bbe5973e40ebba37,1,credit_card,2,103.33
25208,ddba9859eaa6e81ea4f2ed0263d29291,1,credit_card,1,69.44

In [6]:
avaliacoes_pedidos_df.sample(2)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
16821,047486d3e6302a4b529d91d4a2620a8f,a841d4f6334d9f62504a151e34babe90,4,NaN,Gostei!!!,2018-05-16 00:00:00,2018-05-26 18:14:49
42009,a4f94523ffd54267a8664d3ffaf21390,940c5c8cc3ea86ca75804a5c8c350533,5,NaN,Muito bom.,2017-03-30 00:00:00,2017-04-02 21:58:29

In [7]:
pedidos_df.sample(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
67590,d79c75050fb130c942055bff27c1be5a,a10f9dedb64942cfa51dd19dc7972459,delivered,2018-03-14 20:59:27,2018-03-14 21:10:32,2018-03-20 18:17:21,2018-05-03 21:48:30,2018-04-11 00:00:00
94259,8c1d4b6d5a4c76d480dc3f8e766b285e,2774f58d0ab448db599165baa622db3f,delivered,2018-04-26 09:09:16,2018-04-26 21:50:20,2018-04-27 15:01:00,2018-05-02 19:13:04,2018-05-28 00:00:00

In [8]:
produtos_df.sample(2)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
21605,81b4af53ab9d9934fd591fd680f4aee9,telefonia,46.0,1424.0,2.0,100.0,16.0,22.0,11.0
25727,33b22110fa818ff5f0c387a79f19b612,esporte_lazer,52.0,891.0,1.0,300.0,16.0,16.0,16.0

In [9]:
vendedores_df.sample(5)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
1547,96f7c797de9ca20efbe14545bed63eec,14140,cravinhos,SP
2235,f435898e493ba0356019a0b1cb8b55b1,81720,curitiba,PR
200,7178f9f4dd81dcef02f62acdf8151e01,89560,videira,SC
2983,a5ff20ff766e7f50bd5066f33da14413,5522,sao paulo,SP
2188,b906dd0e57f282c7089171b6ed07982e,87083,parana,PR

In [10]:
traducao_categorias_produtos_df.sample(2)

      product_category_name product_category_name_english
52  sinalizacao_e_seguranca        signaling_and_security
1    informatica_acessorios         computers_accessories

In [11]:
produtos_df.describe()

,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32341.000000,32341.000000,32341.000000,32949.000000,32949.000000,32949.000000,32949.000000
mean,48.476949,771.495285,2.188986,2276.472488,30.815078,16.937661,23.196728
std,10.245741,635.115225,1.736766,4282.038731,16.914458,13.637554,12.079047
min,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000
25%,42.000000,339.000000,1.000000,300.000000,18.000000,8.000000,15.000000
50%,51.000000,595.000000,1.000000,700.000000,25.000000,13.000000,20.000000
75%,57.000000,972.000000,3.000000,1900.000000,38.000000,21.000000,30.000000
max,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000

In [12]:
resumo = []

for nome, df in dataframes.items():
    valores_faltantes = df.isnull().sum() 
    df_resumo = pd.DataFrame({
        "DataFrame": [nome] * len(valores_faltantes),
        "Coluna": valores_faltantes.index,
        "Valores Faltantes": valores_faltantes.values
    })
    resumo.append(df_resumo)
    
df_resumo_final = pd.concat(resumo, ignore_index=True)
df_resumo_final

,DataFrame,Coluna,Valores Faltantes
0,clientes,customer_id,0
1,clientes,customer_unique_id,0
2,clientes,customer_zip_code_prefix,0
3,clientes,customer_city,0
4,clientes,customer_state,0
5,geolocalizacao,geolocation_zip_code_prefix,0
6,geolocalizacao,geolocation_lat,0
7,geolocalizacao,geolocation_lng,0
8,geolocalizacao,geolocation_city,0
9,geolocalizacao,geolocation_state,0
10,itens_pedidos,order_id,0
11,itens_pedidos,order_item_id,0
12,itens_pedidos,product_id,0
13,itens_pedidos,seller_id,0
14,itens_pedidos,shipping_limit_date,0
15,itens_pedidos,price,0
16,itens_pedidos,freight_value,0
17,pagamentos_pedidos,order_id,0
18,pagamentos_pedidos,payment_sequential,0
19,pagamentos_pedidos,payment_type,0
20,pagamentos_pedidos,payment_installments,0
21,pagamentos_pedidos,payment_value,0
22,avaliacoes_pedidos,review_id,0
23,avaliacoes_pedidos,order_id,0
24,avaliacoes_pedidos,review_score,0
25,avaliacoes_pedidos,review_comment_title,87656
26,avaliacoes_pedidos,review_comment_message,58247
27,avaliacoes_pedidos,review_creation_date,0
28,avaliacoes_pedidos,review_answer_timestamp,0
29,pedidos,order_id,0
30,pedidos,customer_id,0
31,pedidos,order_status,0
32,pedidos,order_purchase_timestamp,0
33,pedidos,order_approved_at,160
34,pedidos,order_delivered_carrier_date,1783
35,pedidos,order_delivered_customer_date,2965
36,pedidos,order_estimated_delivery_date,0
37,produtos,product_id,0
38,produtos,product_category_name,610
39,produtos,product_name_lenght,610
40,produtos,product_description_lenght,610
41,produtos,product_photos_qty,610
42,produtos,product_weight_g,2
43,produtos,product_length_cm,2
44,produtos,product_height_cm,2
45,produtos,product_width_cm,2
46,vendedores,seller_id,0
47,vendedores,seller_zip_code_prefix,0
48,vendedores,seller_city,0
49,vendedores,seller_state,0
50,traducao_categorias_produtos,product_category_name,0
51,traducao_categorias_produtos,product_category_name_english,0

In [13]:
avaliacoes_pedidos_df['review_comment_message'] = avaliacoes_pedidos_df['review_comment_message'].fillna('Sem Comentário')
avaliacoes_pedidos_df['review_comment_title'] = avaliacoes_pedidos_df['review_comment_title'].fillna('Sem Título')

In [14]:
# preenche valores ausentes com a média nas colunas numéricas do DataFrame 'produtos_df'
numeric_columns = ['product_name_lenght', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']

produtos_df[numeric_columns] = produtos_df[numeric_columns].apply(lambda col: col.fillna(col.mean()))

In [ ]:
# calcula tempo médio de entrega
pedidos_df['order_delivered_customer_date'] = pd.to_datetime(pedidos_df['order_delivered_customer_date'])
pedidos_df['order_purchase_timestamp'] = pd.to_datetime(pedidos_df['order_purchase_timestamp'])
pedidos_df['delivery_time'] = (pedidos_df['order_delivered_customer_date'] - pedidos_df['order_purchase_timestamp']).dt.days

tempo_medio_entrega = pedidos_df['delivery_time'].mean()
tempo_medio_entrega = round(tempo_medio_entrega, 2)
print(f"Tempo médio de entrega: {tempo_medio_entrega} dias")

Tempo médio de entrega: 12.09 dias

In [ ]:
# mescla dados de itens_pedidos e produtos
itens_produtos = pd.merge(itens_pedidos_df, produtos_df, on='product_id', how='inner')
vendas_por_categoria = itens_produtos['product_category_name'].value_counts()

print("\nCategorias de produtos mais vendidas:")
print(vendas_por_categoria)

Categorias de produtos mais vendidas:
product_category_name
cama_mesa_banho                  11115
beleza_saude                      9670
esporte_lazer                     8641
moveis_decoracao                  8334
informatica_acessorios            7827
                                 ...
cds_dvds_musicais                   14
la_cuisine                          14
pc_gamer                             9
fashion_roupa_infanto_juvenil        8
seguros_e_servicos                   2
Name: count, Length: 73, dtype: int64

In [ ]:
# conta a frequência de vendas por região
vendas_geolocalizacao = pd.merge(clientes_df, geolocalizacao_df, 
                                  left_on='customer_zip_code_prefix', 
                                  right_on='geolocation_zip_code_prefix', 
                                  how='inner')

vendas_por_estado = vendas_geolocalizacao['geolocation_state'].value_counts()

print("\nVendas por estado:")
print(vendas_por_estado)

Vendas por estado:
geolocation_state
SP    5620430
RJ    3015690
MG    2878728
RS     805370
PR     626021
SC     538638
BA     365875
ES     316654
GO     133146
MT     122395
PE     114588
DF      93309
PA      83554
CE      63507
MS      61473
MA      53383
AL      34861
PB      27714
SE      24584
PI      23913
RO      21244
RN      20595
TO      17509
AC       7688
AM       5587
AP       4912
RR       2087
Name: count, dtype: int64